/*#d3container {*/
/*    width: 56.25rem;*/
/*    height: 28.125rem;*/
/*}*/

/*.rectangle:hover {*/
/*    opacity: 0.66;*/
/*}*/

.chartContainer {
    /*border: 0.0625rem solid #2B3F6C;*/
}

.bar {
    fill: #2B3F6C;
}

.bar:hover {
    cursor: pointer;
    fill: #4f63a0;
}

.label {
    fill: #2B3F6C;
}