.home {
  width: 100vw;
  overflow-x: hidden;
}

.home-container {
  width: calc(100% - 20vw);
  margin: auto;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 500px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.tituloSobreNos {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: #2B3F6C;
  margin-top: 100px;
}

.fraseSobreNos{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #5EA4B9;
  margin-top: 20px;
}

.remedio {
  padding: 40px;
  width: 100%;
}

.mvvTitulo {
  margin-top: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  color: #2B3F6C;
}

.mvvSubtitulo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #5EA4B9;
}

body {
  padding-bottom: 20px
}